.vscode/settings.json
.__pycache__
*.pyc
*.cpython
__pycache__/
*.py[cod]
dev/Python 3/NumericalMethods/__pycache__/

dev/Python 3/NumericalMethods/__pycache__/__init__.cpython-38.pyc
dev/Python 3/NumericalMethods/__pycache__/Interpolation.cpython-38.pyc
dev/Python 3/NumericalMethods/__pycache__/Roots.cpython-38.pyc
dev/Python 3/NumericalMethods/__pycache__/Systems.cpython-38.pyc
dev/Python 3/NumericalMethods/__pycache__/Roots.cpython-38.pyc
dev/Python 3/testing.py

dev/Python 3/testing.py
dev/Python 3/NumericalMethods/__pycache__/Roots.cpython-38.pyc
